/* Splash Page */

/* About Page */
.aboutPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutContent {
  background-color: #232323;
  color: #c5c2c2;
  border-radius: 5px;
  padding: 25px;
}

.aboutContent > img {
  width: 250px;
  border-radius: 25%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #d9c7dc;
  text-shadow: 1px 1px 3px #232323;
}

.article {
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.4);
}

/* Contact Page */
.contactCard {
    background-color: #232323;
    color: #c5c2c2;
    border-radius: 5px;
    padding: 25px;
}
/* Home Page */
.homeWrapper {
  max-width: 1440px;
  box-shadow: -2px 2px 5px #434141;
  border-radius: 10px;
  margin: 0 auto; /* Center horizontally by default */
}


.homeCardMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #323635;
    color: #e7e7e7;
    border-radius: 5px;
    padding: 1.5rem;
    font-family: "Roboto";
    font-weight: 200;
}
.homeArticle {
  max-width: 20vw; /* Adjust based on desired width */
  line-height: 1.2em;
  margin: 0 auto;
  background-color: #434141;
  border-radius: 5px;
  padding: 1rem;
}

.centerSection {
  flex-grow: 1;
  padding: 2rem 5%; /* Use percentages for padding */
  background-color: #3c3b3b;
  max-width: 50vw; /* Use viewport unit for max-width */
  margin: 0 auto; /* Center horizontally */
  font-size: larger;
  border-radius: 8px;
}

.centerSection > h1 {
  font-size: 2.5rem;
}

/* About Sniplet */
.aboutSnip {
  background-color: #434141;
  width: 15vw;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 0 auto ;
  padding: 1.2em;
  border-radius: 5px;
}

.aboutSnip > h3 {
  text-align: center;
}

/* Avatar */
.avatar {
  border-radius: 50%;
  width: 75%;
}

@media (max-width: 767px) {
  /* Styles for screens with a maximum width of 767px */
  .homeCardMain,
  .centerSection,
  .aboutSnip {
    flex-direction: column; /* Change flex-direction to column */
    max-width: 100%; /* Make sure the containers take full width */
    padding: 0.5rem; 
  }

  .homeArticle {
    max-width: 100%; /* Make sure the article takes full width */
  }

  .aboutSnip {
    margin: 1rem auto 0; /* Center the aboutSnip horizontally */
  }
}
@media only screen and (max-width: 1120px) {
  .homeCardMain {
    flex-direction: column; /* Stack the main card elements vertically */
    align-items: center; /* Center the child elements horizontally */
  }

  .homeArticle,
  .centerSection,
  .aboutSnip {
    max-width: 80%; /* Adjust the maximum width */
    margin-bottom: 1rem; /* Add some spacing between the elements */
  }

  .centerSection {
    padding: 1rem; /* Reduce the padding for smaller screens */
  }
}
@media only screen and (min-width: 1520px) {
  .homeWrapper {
    max-width: 95vw;
    margin: 0 auto; /* Center horizontally */
    padding: 1rem; /* Add some padding */
    font-size: 1.2rem;
    line-height: 1.6;
  }
  .homeCardMain {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
  }
  .homeArticle {
    grid-column: 1 / 2;
  }
  .centerSection {
    grid-column: 2 / 3;
  }
  .centerSection > h1 {
    font-size: 3rem;
  }
  .aboutSnip {
    grid-column: 3 / 4;
  }
}
@media only screen and (min-width: 2280px) {
  .homeWrapper {
    max-width: 1800px;
    margin: 0 auto;
    font-size: 1.2rem; /* Adjust the base font size */
    line-height: 1.6; /* Adjust the line height for better readability */
  }

  .centerSection > h1 {
    font-size: 3.5rem; /* Adjust the main heading size */
  }

}