/* Splash Page */

/* About Page */
.aboutPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutContent {
  background-color: #232323;
  color: #c5c2c2;
  border-radius: 5px;
  padding: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #c5c2c2;
}

.article {
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.4);
}

/* Contact Page */
.contactCard {
    background-color: #232323;
    color: #c5c2c2;
    border-radius: 5px;
    padding: 25px;
}
/* Home Page */
.homeCardMain {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323635;
    color: #e7e7e7;
    border-radius: 5px;
    padding: 25px;
    font-family: "Roboto";
    font-weight: 200;
}
.homeArticle {
  max-width: 300px;
  line-height: 1.2em;
  margin: 0 auto;
  background-color: #434141;
  border-radius: 5px;
  padding: 1rem;
}

.centerSection {
  flex-grow: 1;
  padding: 0 5rem;
  background-color: #3c3b3b;
  max-width: 40rem;
  margin-left: 30px;
  font-size: larger;
  line-height: 1.5rem;
  border-radius: 8px;
}

.centerSection > h1 {
  font-size: 2.5rem;
}

/* About Sniplet */
.aboutSnip {
  background-color: #434141;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 0 auto ;
  padding: 1.2em;
  border-radius: 5px;
}

.aboutSnip > h3 {
  text-align: center;
}

/* Avatar */
.avatar {
  border-radius: 50%;
  width: 75%;

}

/* Media query for screens below 720p */
@media only screen and (max-width: 719px) {
  /* Styles for smaller screens */

  .homeCardMain,
  .centerSection {
    flex-direction: column; /* Change to single column layout */
    align-items: center; /* Center items vertically */
  }

  .homeArticle,
  .aboutSnip {
    width: 100%; /* Make elements take up full width */
    margin: 1rem auto; /* Center elements horizontally */
  }

  .centerSection {
    padding: 2rem; /* Adjust padding for single column */
  }

  .centerSection > h1 {
    font-size: 2rem; /* Adjust heading size */
  }

  .avatar {
    width: 100%; /* Make avatar take full width */
    margin-bottom: 1rem; /* Add margin for spacing */
  }
}