/* Splash Page */

/* About Page */
.aboutPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutContent {
  background-color: #232323;
  color: #c5c2c2;
  border-radius: 5px;
  padding: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #c5c2c2;
}

.article {
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.4);
}

/* Contact Page */
.contactCard {
    background-color: #232323;
    color: #c5c2c2;
    border-radius: 5px;
    padding: 25px;
}
/* Home Page */
.homeWrapper {
  max-width: 1380px;
  box-shadow: -2px 2px 5px #434141;
  border-radius: 10px;
  margin: 0 auto; /* Center horizontally by default */
}

/* Media query for screens wider than 1380px */
@media only screen and (min-width: 1440px) {
  .homeWrapper {
    margin: auto; /* Maintain centering */
    max-width: 90vw;
    min-height: calc(90vh);
    font-size: 1.5em;
    line-height: 1.5em;
  }
  .homeArticle {
    min-width: calc(20vw);
  }
  .centerSection {
    max-width: 65vw;
    min-height: calc(70vh);
  }
  .aboutSnip {
    min-width: calc(20vw);
  }
}
.homeCardMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #323635;
    color: #e7e7e7;
    border-radius: 5px;
    padding: 1.5rem;
    font-family: "Roboto";
    font-weight: 200;
}
.homeArticle {
  max-width: 20vw; /* Adjust based on desired width */
  line-height: 1.2em;
  margin: 0 auto;
  background-color: #434141;
  border-radius: 5px;
  padding: 1rem;
}

.centerSection {
  flex-grow: 1;
  padding: 2rem 5%; /* Use percentages for padding */
  background-color: #3c3b3b;
  max-width: 50vw; /* Use viewport unit for max-width */
  margin: 0 auto; /* Center horizontally */
  font-size: larger;
  border-radius: 8px;
}

.centerSection > h1 {
  font-size: 2.5rem;
}

/* About Sniplet */
.aboutSnip {
  background-color: #434141;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 0 auto ;
  padding: 1.2em;
  border-radius: 5px;
}

.aboutSnip > h3 {
  text-align: center;
}

/* Avatar */
.avatar {
  border-radius: 50%;
  width: 75%;
}

/* Media query for screens below 720p */
@media only screen and (max-width: 719px) {
  /* Styles for smaller screens */

  .homeCardMain,
  .centerSection {
    flex-direction: column; /* Change to single column layout */
    align-items: center; /* Center items vertically */
  }

  .homeArticle,
  .aboutSnip {
    width: 100%; /* Make elements take up full width */
    margin: 1rem auto; /* Center elements horizontally */
  }

  .centerSection {
    padding: 2rem; /* Adjust padding for single column */
  }

  .centerSection > h1 {
    font-size: 2rem; /* Adjust heading size */
  }

  .avatar {
    width: 100%; /* Make avatar take full width */
    margin-bottom: 1rem; /* Add margin for spacing */
  }
}