/* Projects Module CSS */

.projectsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    justify-items: center;
    padding: 100px;
}

.projectCard {
    width: 20vw; /* Increase the width */
    height: 100%; /* Add a fixed height */
    background-color: #323635;
    color: #fff;
    border-radius: 5px;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
}
.projectImage {
    max-width: 100%;
    flex-shrink: 0; /* Prevent the image from shrinking */
}

.projectDescContainer {
    flex-grow: 1;
    display: flex; /* Add this line */
    flex-direction: column; /* Add this line */
    justify-content: space-between; /* Add this line */
}

/* Small screens */
@media (max-width: 768px) {
    .projectsContainer {
        grid-template-columns: 1fr;
        padding: 50px;
    }


    .projectCard {
        width: 100%;
    }
}