.siteWrapper {
    padding-top: 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contentWindow {
    flex: 1;
    min-height: calc(60vh);
    background-color: black;
}

.pageFooter {
    margin-top: auto;
}