/* ==== Global Properties ===== */

* {
  box-sizing: border-box;
}
html,
body {
  background-color: #232323;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
a {
  text-decoration: none;
  color: #bca8c5;
  transition: transform 0.3 ease;
}
a:hover,
a:focus {
    transform: scale(1.2);
    text-decoration: underline;
}

nav ul {
  list-style-type: none;
}
